global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'ecopilot-services'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['api-gateway:8080', 'user-service:8081', 'article-service:8082', 'project-service:8083', 'fournisseur-service:8087', 'notification-service:8084']
